<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomas Matta - Photographe et vidéaste</title>
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/1622af80-62c9-43bd-bb26-0d3d809cd9d5/2.png?v=1673473911220" type="image/x-icon">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- nav -->
    <div id="nav" class="nav">
<div class="containernav">
  <div class="columnnav1">
          <a href="/"><img class="nav__logo" src="https://cdn.glitch.global/1622af80-62c9-43bd-bb26-0d3d809cd9d5/TOMAS%20(1).png?v=1673626757472" alt="" /></a> 
  </div>
  <div class="columnnavhide">
    <a href="/blog" class="linknav">Blog</a> 
  </div>
  
  <div class="columnnavhide1">
    <a href="https://www.instagram.com/tomas.photographie/" class="linknav">Instagram</a> 
  </div>
  <div class="columnnav">
     <label class="dropdown">

  <div class="dd-button">
    Contact
  </div>
    
  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
    <a href="https://www.instagram.com/tomas.photographie/"><li>Instagram</li></a>
        <a href="https://www.linkedin.com/in/tomas-matta/"><li>LinkedIn</li></a>
    <a href="tel:+33628963734"><li>06 28 96 37 34</li></a>
        <a href="mailto:tomas.matta4398@gmail.com"><li>tomas.matta4398@gmail.com</li></a>
    <li class="divider"></li>
    <li>
      <a href="/contact">Accédez à vos photos</a>
    </li>
  </ul>
  
</label>
  </div>
</div>
      
    </div>

    <!-- header -->

    
    

    <script>
      const nav = document.getElementById('nav');
      window.addEventListener('scroll', () => {
        if (window.scrollY >= 100) {
          nav.classList.add('nav__black');
        } else {
          nav.classList.remove('nav__black');
        }
      });
    </script>
    
    
  <body>
    <!--
      BODY SAOECOM ONEPAGE
    -->

    <!-- SAOECOM-->
    <div class="wrapper">
      <div class="content" role="main">
        <!-- SAOECOM -->
        <h1 class="title"> </h1>

        <!-- SAOECOM -->

      </div>
    </div>


    
    
<purpleblocksbaba>

      
          <section class="columnsbaba">
<div class="combat000P3baba columnbaba">
                      
                                <p class="entranceZ13000P3baba1">
            Project pour les professionnels     
          </p>
  
                                  <p class="entranceZ13000P3baba2">
            Project est une entreprise spécialisée dans le BTP, nous sommes en capacité de travailler avec les professionnels pour les accomapgner à réaliser leurs projets. Nous proposons une offre spécifique comprenant notamment le chiffrage TCE, la réponse aux appels d'offres, le suivi de chantier, la création de plans 2D et 3D, les dossiers techniques, les dossiers administratifs DOE, ainsi que la prise en charge Qualibat.       
          </p>
                             
          <!-- SAOECOM -->
        </div>
            </div>
	
<div class="combat000P3baba22offrepro columnbaba">
                      
                                <p class="entranceZ13000P3baba">
            <br>    
          </p>
                                 
          <!-- SAOECOM -->
        </div>

      
    </section>	
      
            </purpleblocksbaba>
    
    
    
    
    
    
    
    
    
    
    <br>
    
    </div>
    <purpleblocks2>
                                      <p class="entranceZ13000P3baba4">
            Le tarif est indicatif et débute à partir de 450€ HT. N'hésitez pas à contacter notre équipe pour planifier une première réunion afin de faire le point sur vos besoins et votre projet. Nous serons ravis de vous accompagner dans la réalisation de votre projet.        
          </p>
  <ul class="items">
  <li class="item">
    <a class="item-link" href="/contact">
      <span class="item-text">Confiez-nous votre projet </span>
      <svg class="item-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M 8 4 L 16 12 L 8 20" stroke="#d9d4d6" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" fill="none" />
      </svg>
    </a>
  </li>
</ul>
    
    
      </purpleblocks2>
  
  
  
  

<div id="colp">
  <div class="col">
    <img src="image1.jpg" class="responsive" alt="image1">
  </div>
  <div class="col">
    <img src="https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/Untitled-design-8.png?v=1668526105541" class="responsive" alt="image2">
  </div>
</div>


 

      

<footer class="footer">
  <div class="footer__addr">
          <img class="nav__logoF" src="https://cdn.glitch.global/1622af80-62c9-43bd-bb26-0d3d809cd9d5/TOMAS.png?v=1673473402506" alt="" />
    <address>
      &copy; Tous droits réservés<br>   
      EI TOMAS MATTA SIREN 903078376<br>   
      18 Rue de la Gare, 33320 Eysines
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Mentions</h2>

      <ul class="nav__ul">
        <li>
          <a href="/cgv">CGV</a>
        </li>
        
                <li>
          <a href="/cgu">CGU</a>
        </li>

        <li>
          <a href="/confidentialite">Confidentialité</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Prestations</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="/portraits">Portrait</a>
        </li>
        
        <li>
          <a href="/productions-videos">Production vidéo</a>
        </li>
        
        <li>
          <a href="/pro">Professionnel</a>
        </li>
        
               <li>
          <a href="/grossesses-nouveaux-nes">Grossesse</a>
        </li>
        
               <li>
          <a href="/grossesses-nouveaux-nes">Nouveau-né</a>
        </li>
        
        <li>
          <a href="/mariages">Mariage</a>
        </li>
        
        <li>
          <a href="/paysages">Paysages</a>
        </li>
        
        <li>
          <a href="/vins-spiritueux">Vin et spiritueux</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Interagir</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="https://www.instagram.com/tomas.photographie/">S'abonner sur Instagram</a>
        </li>
        
        <li>
          <a href="mailto:tomas.matta4398@gmail.com">Écrivez-nous</a>
        </li>
        
        <li>
          <a href="tel:0628963734">Appelez-nous</a>
        </li>
        
                <li>
          <a href="/vos-photos">Accédez à vos photos</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <a href="https://saoecom.com/"><span>Développé avec <span class="heart">♥</span> par SAOECOM</span></a>
    
    <div class="legal__links">
    </div>
  </div>
</footer>
  </body>
</html>
